# Cache, logs et fichiers temporaires
/var/cache/*
/var/log/*
!var/cache/.gitkeep
!var/log/.gitkeep
.env.local
.env.local.php
.env.*.local
.phpunit.result.cache


# Fichiers de build et uploads
/public/uploads/
/node_modules/
/public/build/

# PHPUnit
/phpunit.xml.local

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS specific files
.DS_Store
Thumbs.db
